In [1]:
import pandas as pd
import pandas.io.sql as psql
import psycopg2 as pg

import json

In [2]:
#!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.1-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.1

# 1.0 Conectando ao Banco de Dados

In [2]:
with open('../credential.json') as arquivo:
  credential = json.load(arquivo)

In [3]:
conn = pg.connect(user = credential['username'],
                 password= credential['password'],
                 host = credential['host'],
                port = credential['port'],
                 database = credential['database'])

## 1.1 Conectando com banco de Dados pelo Pandas

In [4]:
query = ''' 
        SELECT *
        FROM pa004.users u INNER JOIN pa004.vehicle v ON ( u.id = v.id )
                      INNER JOIN pa004.insurance i ON ( u.id = i.id )
'''


df1 = pd.read_sql(query, conn)
df1.head()

,id,gender,age,region_code,policy_sales_channel,id,driving_license,vehicle_age,vehicle_damage,id,previously_insured,annual_premium,vintage,response
0,7,Male,23,11.0,152.0,7,1,< 1 Year,Yes,7,0,23367.0,249,0
1,13,Female,41,15.0,14.0,13,1,1-2 Year,No,13,1,31409.0,221,0
2,18,Female,25,35.0,152.0,18,1,< 1 Year,No,18,1,46622.0,299,0
3,31,Female,26,8.0,160.0,31,1,< 1 Year,No,31,0,2630.0,136,0
4,39,Male,45,8.0,124.0,39,1,1-2 Year,Yes,39,0,42297.0,264,0

In [5]:
#df1.to_csv('../data/raw/train.csv')

In [6]:
#sempre fechar a conexÃ£o com o banco de dados
conn.close()